In [52]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import sys
import os

script_path = os.path.abspath("../src/features")
sys.path.append(script_path)
from sat_chunk_normalize import rescale_scores_with_categories

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 1. Reading in data and normalizing scores

In [82]:
!ls ../data/processed/sat_train

ielts  sat_train  sat_val

In [54]:
fp = '../data/raw/sat_train/training_set_rel3.xls'

In [55]:
df = pd.read_excel(fp)

In [56]:
df.head(1)

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# df.groupby(by='essay_set')['domain1_score'].agg(['min', 'max']).reset_index()

In [58]:
# !ls ../src/features/sat_chunk_normalize.py

In [61]:
%reload_ext autoreload
df_rescaled = rescale_scores_with_categories(df=df, score_column='domain1_score', output_range=(1, 10))

In [62]:
df_rescaled

,essay_id,essay_set,essay,rescaled_score,low_med_hi,low_med_hi_numeric
0,1,1,"Dear local newspaper, I think effects computer...",6.40,medium,2
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",7.30,medium,2
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",5.50,medium,2
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",8.20,high,3
4,5,1,"Dear @LOCATION1, I know having computers has a...",6.40,medium,2
...,...,...,...,...,...,...
12973,21626,8,In most stories mothers and daughters are eit...,5.50,medium,2
12974,21628,8,I never understood the meaning laughter is th...,4.96,low,1
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",6.40,medium,2
12976,21630,8,Trippin' on fen...,6.40,medium,2
12977,21633,8,Many people believe that laughter can improve...,6.40,medium,2

In [77]:
df['essay_split_len'] =  df['essay'].str.split(' ').apply(len)

In [79]:
has_line_breaks = df_rescaled['essay'].str.contains('\n', na=False).any()
has_line_breaks

False

In [81]:
df_rescaled.columns

Index(['essay_id', 'essay_set', 'essay', 'rescaled_score', 'low_med_hi',
       'low_med_hi_numeric'],
      dtype='object')

In [83]:
train_full_out_fp = '../data/processed/sat_train/train_full_processed.csv'

In [84]:
df_rescaled.to_csv(train_full_out_fp,index=False)

In [85]:
df = pd.read_csv(train_full_out_fp)

In [86]:
df

,essay_id,essay_set,essay,rescaled_score,low_med_hi,low_med_hi_numeric
0,1,1,"Dear local newspaper, I think effects computer...",6.40,medium,2.0
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",7.30,medium,2.0
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",5.50,medium,2.0
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",8.20,high,3.0
4,5,1,"Dear @LOCATION1, I know having computers has a...",6.40,medium,2.0
...,...,...,...,...,...,...
12973,21626,8,In most stories mothers and daughters are eit...,5.50,medium,2.0
12974,21628,8,I never understood the meaning laughter is th...,4.96,low,1.0
12975,21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",6.40,medium,2.0
12976,21630,8,Trippin' on fen...,6.40,medium,2.0
12977,21633,8,Many people believe that laughter can improve...,6.40,medium,2.0

In [88]:
val_fp = '../data/raw/sat_val/valid_set.xlsx'
df_val = pd.read_excel(val_fp)

In [90]:
df_val.head(2)

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN

In [94]:
test_fp = '../data/raw/sat_test/test_set.tsv'
df_test = pd.read_csv(test_fp, sep='\t', encoding='latin1')

In [95]:
df_test

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1,I believe that computers have a positive effec...,2383,NaN
1,2384,1,"Dear @CAPS1, I know some problems have came up...",2384,NaN
2,2385,1,"Dear to whom it @MONTH1 concern, Computers are...",2385,NaN
3,2386,1,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386,NaN
4,2387,1,"Dear Local newspaper, I think that people have...",2387,NaN
...,...,...,...,...,...
4249,22238,8,Just One @CAPS1 @CAPS2 can bring people togeth...,25238,NaN
4250,22239,8,@CAPS8 Was my first time going to the band ca...,25239,NaN
4251,22240,8,Laughter is one of the most important things i...,25240,NaN
4252,22241,8,A @CAPS1 Of @C...,25241,NaN
4253,22242,8,Good @CAPS1 In @LOCATION1. Every year a sel...,25242,NaN

## Splitting the Test Set

In [99]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_rescaled, test_size=0.2, stratify=df_rescaled['essay_set'], random_state=42)

In [106]:
# train['essay_set'].value_counts(normalize=True), test['essay_set'].value_counts(normalize=True)

In [109]:
train_full_out_fp = '../data/processed/sat_train/train_full_processed.csv'
train_full_out_fp

'../data/processed/sat_train/train_full_processed.csv'

In [107]:
train.to_csv(train_full_out_fp,index=False)

In [108]:
test_full_out_fp = ../data/processed/sat_train/

'../data/processed/sat_train/train_full_processed.csv'

In [ ]:
test.to_csv(train_full_out_fp,index=False)